/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

html, body { height: 100%; }

* {
	margin: 0;
	padding: 0;
	
}

body {
	background: url(images/img04.jpg) repeat left top; 
}

body, th, td, input, textarea {
	text-align: justify;
	font-family: Verdana;
	font-size:0.85em;
	color: #666666;
}

form {
}

fieldset {
}

input, textarea {
	font-weight: bold;
}

input.text {
	padding: 2px 5px;
	background: #F8FAEB;
	border-top: 1px solid #4D5719;
	border-left: 1px solid #4D5719;
	border-right: 1px solid #626456;
	border-bottom: 1px solid #626456;
}

input.button {
	background: #3C7BCF;
	border-top: 1px solid #3C7BCF;
	border-left: 1px solid #3C7BCF;
	border-right: 1px solid #3C7BCF;
	border-bottom: 1px solid #3C7BCF;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin-top: 1.5em;
	color: #00B4CE;
}

h1 {
	letter-spacing: -.055em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #00B4CE;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #75043D;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #00B4CE;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #B10961;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
	width: 800px;
	min-height: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;	
	background: url(images/img03.jpg) repeat-y left top;
}

html>body #wrapper { height: auto; }

/* Header */

#header {
	width: 800px;
	margin: 0 auto;
	background: url(images/img01.jpg) no-repeat top left;
}

#menu {
	height: 80px;
	width: 976px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	padding: 15px 30px 16px 30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	color: #FFFFFF;
}

#menu .current_page_item a {
	padding: 15px 30px 16px 30px;
	color: #FFFFFF;
}

#menu .last{
}

#search {
	float: right;
	width: 260px;
	margin: 0px;
	padding-top: 7px;
}

#search fieldset {
	border: none;
}

#search #s {
	width: 160px;
}

#search #x {
	width: 80px;
}

/* Logo */

#logo {
	width: 760px;
	height: 114px;
	margin: 0 auto;
	background: url(images/img05.jpg) no-repeat left top;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0;
	
}

#logo h1 {
	padding: 10px 5px 0 15px;
	font-size: 44px;
	color: #FFFFFF;
}

#logo h2 {
	padding: 6px 0 0 15px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

#logo p {
	clear: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
	color: #C2C5B1;
}

#logo a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	border-top: none;
}

/* Content */

#content {
	float: left;
	width: 100%;
}

.post {
}

.post .title {
	margin: 0;
	font-weight: normal;
}

.post h1.title {
	padding: 25px 0  0 15px;
	height: 20px;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.post .entry {
	padding: 0 25px 30px 15px;
}

/* Footer */

#footer {
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat left bottom;
	height: 80px;
}

#footer p {
	padding-top: 45px;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	padding: 2px 7px;
	color: #FFFFFF;
}